<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <h1>FITS (Faculty Isomething Tsomething Scheduler)</h1>
    <form class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="termSelect" ng-model="termInput">Term</label>
          <select name="term" id="termSelect" class="form-control">
            <option value="2170">Winter 2018</option>
            <option value="2180">Spring 2018</option>
            <option value="2190">Summer 2018</option>
            <option value="2200">Spring-Summer 2018</option>
          </select>
        </div>
        <div class="form-group">
          <label for="instructor">Instructor</label>
          <div class="input-group">
            <input type="text" ng-model="instructorInput" class="form-control" id="instructor" aria-describedby="instructorDescription" placeholder="Enter last name">
            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
          </div>
          <small id="termSelectDescription" class="form-text text-muted">Something something abut this field.</small>
        </div>
        <button class="btn btn-primary" ng-show="disambiguationDone" ng-click="lookUpPerson()">LookUp {{instructor}}</button>
        <div class="form-group" ng-show="disambiguationNeeded">
          <br>
          <label for="termSelect">Instructors disambiguation <small>(only shows when and if needed)</small></label>
          <select name="term" id="termSelect" class="form-control" ng-model="diambiguationList">
            <option value="BIOL Smith">BIOL Smith</option>
            <option value="ENTOMOL Smith">ENTOMOL Smith</option>
            <option value="CHEMENG Smith">CHEMENG Smith</option>
            <option value="ROMLANG Smith">ROMLANG Smith</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      <div class="col-md-6">
      </div>
      </form>
      <br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Download zone!</h3>
        </div>
        <div class="panel-body">
          <p>Download link options</p>
          <p>This panel only shows after all the data is retrieved.</p>
        </div>
      </div>
    </div>
  </div>


  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>

</body>

</html>
