<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="fitsApp">
  <div class="container" ng-controller="fitsController">
    <!--- <h1>FITS <small>(Faculty Instructional Teaching  Schedules)</small></h1> -->
    <img src=img/banner-01.png width="650">
      <br />
      <br />
    <div class="row">
      <div class="col-md-6">
        
        <div class="form-group">
          <label for="instructor">Instructor</label>
          <div class="input-group">
            <input type="text" ng-model="instructorInput" class="form-control" id="instructor" aria-describedby="instructorDescription" placeholder="Uniqname">
            <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
          </div>
          <small id="instructorDescription" class="form-text text-muted">Test user: janaya</small>
        </div>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Lookup</button>
		<div id="demo" class="collapse">
			<br />
			<a href="https://calendar.google.com/calendar?cid=dW1pY2guZWR1X2VzczBqYXZvOXRwajZiM3MwcmpuYm80NThvQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20" target=_blank>Link to Google Calendar: FITS-janaya</a>
			<br />
		</div>
        <!-- this is not needed, we have magic, do not need to disambiguate -->
        <!-- <div class="form-group" ng-show="disambiguationNeeded">
          <br>
          <label for="termSelect">Instructors disambiguation<small>(only shows when and if needed)</small></label>
          <select name="term" id="termSelect" class="form-control" ng-model="diambiguationList" aria-describedby="disambiguatorDescription">
            <option value="BIOL Smith">BIOL Smith</option>
            <option value="ENTOMOL Smith">ENTOMOL Smith</option>
            <option value="CHEMENG Smith">CHEMENG Smith</option>
            <option value="ROMLANG Smith">ROMLANG Smith</option>
          </select>
          <small id="disambiguatorDescription" class="form-text text-muted">Something something abut this select.</small>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div> -->
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <br><br>
    <table class="table table-hover" ng-show="classList">
      <thead>
        <tr>
          <th scope="col">
            Title
          </th>
          <th scope="col">
            Section
          </th>
          <th scope="col">
            Meetings
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="class in classList">
          <td>
            {{class.Title}}
            <small ng-show="class.Subtitle">
              <br>
              {{class.Subtitle}}
            </small>
          </td>
          <td>
            {{class.SectionNumber}}
          </td>
          <td>
            <div ng-repeat="meeting in class.Meeting">
              {{meeting.Days}} {{meeting.Times}}
            </div>
          </td>
        </tr>

      </tbody>

    </table>
    <div  ng-show="classList">
      <button type="button" class="btn btn-primary" ng-click="downloadICS()">
        This is fine, download ICS
      </button> <small>(for importing into Google calendar)</small>
    </div>

    <br>
    <div class="panel panel-default" ng-show="downloadedICS">
      <div class="panel-heading">
        <h3 class="panel-title">Download zone!</h3>
      </div>
      <div class="panel-body">
        <p>Download link options</p>
        <p>This panel only shows after all the data is retrieved.</p>
      </div>
    </div>
  </div>
  </div>


  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/services.js"></script>

</body>

</html>
